<mat-toolbar class="trip-toolbar">
  <h2>Add Trip</h2>
  <button mat-button (click)="addTrip()">Done</button>
</mat-toolbar>
<form [formGroup]="addTripForm">
<div class="trip-info-section">
  <h3>Add Trip Info</h3>
  <div class="trip-add-title-slug-row">
    <h4>Title:</h4>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="tripTitle">
    </mat-form-field>
    <h4>Slug:</h4>
    <mat-form-field appearance="outline">
      <mat-label>Slug</mat-label>
      <input matInput formControlName="slug">
      <mat-hint>Hint: Should be in Lower Case</mat-hint>
    </mat-form-field>
  </div>
  <div class="trip-add-overview-row">
    <h4>Overview:</h4>
    <mat-form-field appearance="outline">
      <mat-label></mat-label>
      <textarea matInput rows="10" formControlName="overview"></textarea>
    </mat-form-field>
  </div>
  <div class="trip-add-attractions-row">
    <h4>Attractions</h4>
    <mat-form-field>
      <mat-select formControlName="attractions" placeholder="Attractions" [multiple]="true">
        <mat-option>
          <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"
                                 [placeholderLabel]="'Search'"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
          {{bank.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="trip-divider-spacing">
  <mat-divider></mat-divider>
</div>
<div class="trip-packages-section">
  <h3>Add Package</h3>
  <div class="trip-add-package-row">
    <h4>Title:</h4>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="packageTitle">
    </mat-form-field>
    <h4>Price per Person:</h4>
    <mat-form-field appearance="outline">
      <mat-label>Price per Person</mat-label>
      <input matInput formControlName="packagePrice">
    </mat-form-field>
    <mat-checkbox formControlName="packageStandard">is Standard</mat-checkbox>
    <button mat-raised-button color="warn" (click)="addPackage()">Add</button>
  </div>
  <h3>Packages</h3>
  <mat-list>
    <mat-list-item *ngFor="let i of packagesList">
      <div class="trip-packages-list-items">
        <h3>{{i.title}}</h3>
        <h3>{{i.price_per_person}}</h3>
        <div>
          <button mat-icon-button (click)="updatePackage(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePackage(i.title)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<div class="trip-divider-spacing">
  <mat-divider></mat-divider>
</div>
<div class="trip-departure-section">
  <h3>Add Departure</h3>
  <div class="trip-add-departure-row">
    <h4>Location: </h4>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <mat-select formControlName="departureLocation">
        <mat-option *ngFor="let location of availableLocations" [value]="location.value">
          {{location.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h4>Via:</h4>
    <mat-form-field appearance="outline">
      <mat-label>Via</mat-label>
      <input matInput formControlName="departureVia">
    </mat-form-field>
    <h4>Price per Person:</h4>
    <mat-form-field appearance="outline">
      <mat-label>Price per Person</mat-label>
      <input matInput formControlName="departurePrice">
    </mat-form-field>
  </div>
  <div class="trip-add-departure-row">
    <div>
      <h4>Departure: </h4>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="departureDatePicker" formControlName="departureDate">
          <mat-datepicker-toggle matSuffix [for]="departureDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #departureDatePicker></mat-datepicker>
        </mat-form-field>
        <div class="trip-departure-datetime-row-spacing"></div>
        <mat-form-field appearance="fill">
          <mat-label>Choose a Time</mat-label>
          <input matInput [ngxTimepicker]="departureTimePicker" formControlName="departureTime">
          <ngx-material-timepicker-toggle matSuffix [for]="departureTimePicker" style="fill: white">
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #departureTimePicker></ngx-material-timepicker>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4>Arrival: </h4>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="arrivalDatePicker" formControlName="arrivalDate">
            <mat-datepicker-toggle matSuffix [for]="arrivalDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #arrivalDatePicker></mat-datepicker>
          </mat-form-field>
          <div class="trip-departure-datetime-row-spacing"></div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a Time</mat-label>
            <input matInput [ngxTimepicker]="arrivalTimePicker" formControlName="arrivalTime">
            <ngx-material-timepicker-toggle matSuffix [for]="arrivalTimePicker" style="fill: white">
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #arrivalTimePicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="trip-add-departure-row">
    <mat-checkbox formControlName="departureStandard">is Standard</mat-checkbox>
    <button mat-raised-button color="warn" (click)="addDeparture()">Add</button>
  </div>
  <h3>Departures</h3>
  <div class="trip-departures-list-items">
    <ng-container *ngFor="let i of departuresList">
      <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{i.location}}
        </mat-panel-title>
        <mat-panel-description>{{i.is_standard ? 'Standard' : ''}}</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="trip-departures-list-item-content">
        <div>
          <p>via: {{i.via}}</p>
          <p>Price Per Person: {{i.price_per_person}}</p>
          <p>Departure: {{i.departure_date}} - 10: 00 Am</p>
          <p>Arrival: {{i.arrival_date}} - 10: 00 Am</p>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
    </ng-container>
  </div>
</div>
<div class="trip-divider-spacing">
  <mat-divider></mat-divider>
</div>
<div class="trip-itinerary-section">
  <h3>Add Itinerary Day</h3>
  <div class="trip-add-itinerary-row">
    <h4>Date: </h4>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="itineraryDatePicker" formControlName="itineraryDate">
      <mat-datepicker-toggle matSuffix [for]="itineraryDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #itineraryDatePicker></mat-datepicker>
    </mat-form-field>
    <h4>Group:</h4>
    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <mat-select formControlName="itineraryGroup">
        <mat-option *ngFor="let i of groupList" [value]="i">
          {{i}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h4>Departures:</h4>
    <mat-form-field appearance="fill">
      <mat-label>Departures</mat-label>
      <mat-select multiple formControlName="itineraryDepartures">
        <mat-option *ngFor="let departure of departuresList" [value]="departure.location">{{departure.location + ' Via ' + departure.via}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="trip-add-itinerary-body-row">
    <h4>Body:</h4>
    <mat-form-field appearance="outline">
      <mat-label></mat-label>
      <textarea matInput rows="10" formControlName="itineraryBody"></textarea>
    </mat-form-field>
  </div>
  <div class="trip-add-itinerary-row">
    <h4>Trip Service: </h4>
    <mat-form-field appearance="fill">
      <mat-label>Trip Service</mat-label>
      <mat-select formControlName="itineraryServiceType">
        <mat-option *ngFor="let food of availableLocations" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h4>Value: </h4>
    <mat-form-field appearance="outline">
      <mat-label>Value</mat-label>
      <input matInput formControlName="itineraryServiceValue">
    </mat-form-field>
    <h4>Package: </h4>
    <mat-form-field appearance="fill">
      <mat-label>Package</mat-label>
      <mat-select formControlName="itineraryPackages">
        <mat-option *ngFor="let food of availableLocations" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="warn">Add</button>
  </div>
  <h3>Itinerary Days</h3>
  <div class="trip-itinerary-list-items">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day 1
        </mat-panel-title>
        <mat-panel-description>Common</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="trip-itinerary-list-item-content">
        <div>
          <p>Date: 25/11/2020</p>
          <p>Departures: Islamabad, Lahore</p>
          <p>Body: Lorem Ipsum Gyspum Sit</p>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon style="color: white">delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-list>
        <mat-list-item *ngFor="let i of [].constructor(3)">
          <div class="trip-itinerary-package-list-item">
            <h3>Deluxe</h3>
            <h3>24000</h3>
            <div>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary">
                <mat-icon style="color: white">delete</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
</div>
<div class="trip-divider-spacing">
  <mat-divider></mat-divider>
</div>
<div class="trip-gallery-images-section">
  <h3>Add Gallery Images</h3>
  <div class="trip-add-gallery-images-row">
    <h4>Images: </h4>
    <input type="file" multiple>
  </div>
</div>
<div class="trip-divider-spacing">
  <mat-divider></mat-divider>
</div>
</form>
